header#portfolio-header {
  background: url(images/background-image.jpg) center/cover;
  height: 60vh;
  justify-content: center;
  text-align: center;

}
.mdl-card__supporting-text{
  padding-bottom: 30px;
}
#name{
  color: #e01d1d;
}
h1{
  color: #ffffff;
  font-weight: bold;
}
#slogan {
  color: #ffffff;
  font-weight: lighter;
  font-size:1.6rem;
}
#test{
  opacity: 0.9;
}
img{
  height: 200px;
}
.img {
  object-fit: fill;
        height:100%;
        width:100%;
}

.mdl-card__title {
  background-color: #a4c412;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.mdl-card__title:hover {
  background-color: #2abcc7;
  color: white;
}

main{
  max-width: 900px;

}
.project-description{
  padding-left:0;

}

.project img{
  width: 100%;
}

header#connect{
  bottom:0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#header-links{
  margin: auto;
  font-size:2rem;
}

@media screen and (max-width: 1024px){
  header#portfolio-header{
    display:flex;
  }
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.mdl-card__supporting-text{
  padding-left: 10px;
}

html {
  background: url("http://drive.google.com/uc?export=view&id=1qM6d7E_jLwgszdNMeLJpOOnfFEue7I0l") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
