header#portfolio-header {
  background: url(images/background-image.jpg) center/cover;
  height: 60vh;
  justify-content: center;
  text-align: center;

}

#name{
  color: red;
}
h1{
  color: #ffffff;
  font-weight: bold;
}
#slogan {
  color: #ffffff;
  font-weight: lighter;
  font-size:1.6rem;
}
#test{
  opacity: 0.9;
}

.img {
    padding:15px;
    object-fit: contain;
    width:  250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.mdl-card__title{
  background-color: red;
}

main{
  max-width: 900px;

}
.project-description{
  padding-left:0;

}

.project img{
  width: 100%;
}

footer#connect{
  bottom:0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#footer-links{
  margin: auto;
  font-size:2rem;
}

@media screen and (max-width: 1024px){
  header#portfolio-header{
    display:flex;
  }
}

html {
  background: url("http://drive.google.com/uc?export=view&id=1qM6d7E_jLwgszdNMeLJpOOnfFEue7I0l") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
